body{
    background-color: white;
    color:#333;
    font-size: 15px;
}
a{
    color:#333;
    text-decoration: none;
    transition: 2s;
}
a:hover {
    color:skyblue;
    text-decoration: underline;
}