body{
    color: #000;
    /* body 태그에 색상을 넣어도 a태그에 적용되지 않는다 */
}
a{
    color: black;
    text-decoration: none;
    border: 1px solid red;
    width: 300px;
    height: 300px;
    margin: 50px;
}
div{
    border: 1px solid red;
    height: 100px;
    /* width : 100%; 가 기본적으로 들어가있는 것 */
    margin: 50px;
}
img{
    border: 1px solid red;
    margin: 50px;
}
