/* 부모요소 position:relative; // 자식요소 position:absolute; */
/* 좌표는 left right tob bottom */
.parent{
    background-color: blue;
    width: 600px;
    height: 300px;
    position: relative;
}
.child{
    background-color: red;
    width: 200px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
}