div{
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
    border:10px solid orange;
    margin:10px;
    float: left;
    text-align:center;
    line-height: 200px;
    color:white;
    
}
.box1{border-radius:20px;}
.box2{border-radius:30px;}
.box3{border-radius:50%;}
/* 원을 만들때에는 폭에 맞는 px을 기재하거나 50%를 만들면 원이 됨 */
.box4{border-radius: 50px 0 50px 0;}
.box5{border-radius: 200px 0 0 0;}
.box6{border-radius:50% 50% 50% 0;}
.box7{border-radius:100% 0 100% 0;}
.box8{border-radius:50% 50% 0 0;}