.heading{
    border: 1px solid red;
    width: 300px;
    text-align: center;
    margin: 100px 50px; 
    padding: 100px 50px;
    /* margin 은 border 기준 바깥쪽, padding은 border기준 안쪽*/
    /* 순서는 margin padding 모두 상 우 하 좌 순서로 속성값 입력 가능 */
}
.box{
    font-size: 50px;
    border: 5px solid #000;
    width: 400px;  
    height: 100px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.box-2{
    border:1px solid red;
    width: 600px;
}
.box-2 div{
    border: 1px solid blue;
    width: 200px;
    height: 200px;
    float: left;
    box-sizing: border-box;
    /* box-sizing:border-box;를 입력해줘야 모자란 6px을 무시하고 float:left;가 실행된다. padding, margin, border 속성값으로 늘어난 div들을 무시하고 바로잡아주는데에 유용한 기능이다.*/
    

}
