.parent{
    border: 5px solid black;
    width: 600px;
    height: 300px;
    position: relative;
}
.child{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    top:100%;
    left:0;
}